.container {
  width: 800px;
  margin: 0 auto;
}

header {
  text-align: center;
}

.preview-container {
  display: flex;
}

.preview {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-grow: 1;
  align-items: center;
}

.img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 1px solid black;
  background-color: rgb(177, 167, 167);
}

.comparison {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.compare-btn {
  background-color: rgb(69, 69, 228);
  color: white;
  padding: .5rem 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.upload-btn {
  background-color: rgb(48, 160, 48);
  color: white;
  padding: .5rem 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
}

.upload-btn:hover {
  background-color: rgb(57, 185, 57);
  cursor: pointer;
}

.compare-btn:hover {
  cursor: pointer;
}

#rmse {
  font-weight: bold;
}

.image-wrapper {
  position: relative;
}

.image-wrapper span {
  background-color: rgba(0, 0, 0, 0.76);
  padding: .5rem 1rem;
  border-radius: 25px;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 0;
  font-size: 10px;
  color: white;
}

.github-btn {
  background-color: #24292E;
  color: white;
  outline: none;
  border: none;
  padding: .5rem;
  border-radius: 5px;
}

.github-btn:hover {
  background-color: #31373d;
  cursor: pointer;
}

.loading {
  width: 16px;
  height: 16px;
  margin-left: .5rem;
}